{{#each chirps as |chirp|}}

<div class="row">
    <div class=" container chirpContainer">
        <div class="row justify-content-center">
            <div class="col-6">
                <p class="createChirp">Created by {{chirp.username}} on {{date_created}}</p>
            </div>
        </div>
    </div>
    <div class="chirp-text-container">
        <p class="chirpText">{{chirp.chirp}}</p>
    </div>
</div>

{{/each}}
