<div class="row">
    <div class="col justify-content-center">
        <h2 class="signup">Sign Up</h2>
        <form class="form sign-up-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" aria-label="username" aria-describedby="basic-addon1" id="username">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1" id="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon1" id="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control" placeholder="Sign Up" aria-describedby="basic-addon1" id="submitBtn">Sign Up</button>
            </div>
            <div>
                <a href="/signIn">Already have an account? Sign in here!</a>
            </div>
        </form>    
    </div>
</div>

<script src="/js/signUp.js"></script>