body {
    background-color: white;
    color: black;
}

.navbar {
    background-color: #B8B8B8	;
}

.navLogo {
    font-weight: bold;
    font-size: large;
}

.chirpContainer {
    margin-top: 10px;
    border-style: solid;
}

a {
    text-decoration: none;
}

.createChirp {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    color: black;
}

.chirp-text-container {
    border-style: solid;
    margin-bottom: 5px;
    padding: 2px;
    background-color: #42bff5;
}

.card {
    margin-top: 10px;
    border-style: solid;
    background-color: #42bff5;
}

.card-header {
    font-size: 25px;
    font-weight: bold;
}

.chirpComments {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 75%;
    background-color: #42bff5;
    color: white;
}

.chirp-comment {
    font-size: 14px;
}

.chirp-comments {
    width: 290px;
}

.comment-date {
    margin-top: 10px;
    font-size: 10px;
}

.signin, .signup {
    margin-left: 25px;
}

a:link {
    color: blue
}

a:hover {
    color: purple
}





