{{!-- username, timecreated, chirp --}}
<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">{{ user_name }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ date_created }}</h5>
    <p class="card-text">{{ chirp }}</p>
  </div>
</div>

